/* Общие стили страницы */
body {
  font-family: monospace;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-size: 20px;
}

/* Профильный блок с аватаркой и текстом */
div.profile {
  background-color: #ccc;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 24px;
  max-width: 320px;
  text-align: center;
}

div.profile img {
  width: 100px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 12px;

  object-fit: cover;
    border: 3px solid #000;
}

div.profile a {
  color: black;
  text-decoration: underline;
}

/* Кнопки-ссылки */
a {
  text-decoration: none;
}

button.link-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 18px 18px;
  width: 260px;
  margin: 8px 0;
  font-family: monospace;
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button.link-button:hover {
  background-color: #999;
}

button.link-button .icon {
  font-size: 18px;
  font-weight: bold;
}